<div>
    <a href="/auth"><img src="facebook-login.png"/></a>
</div>

<h2>About</h2>

<p>This is a demo application to show how to integrate the <a href="http://github.com/moomerman/facebook_oauth">Facebook OAuth</a> gem in a simple sinatra application.</p>

<p>The <a href="http://github.com/moomerman/facebook_oauth_demo">source code</a> for this application is available on github.</p>

<p>Created and maintained by <a href="http://richt.co.uk/">Richard Taylor</a> (<a href="http://twitter.com/moomerman">@moomerman</a>). Any comments/suggestions welcome</p>
