<html>
<head>
    <title>Facebook OAuth Demo</title>
    <link href="/main.css" media="screen" rel="Stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h2>Facebook OAuth Demo</h2>
<% if @user %>
    <p>Logged in as: <%= @user %> <a href="/logout">logout</a></p>
<% end %>

<%= yield %>

</body>
</html>